body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
    line-height: 1.6;
}

p {
    font-size: large;
    color: #414042;
    text-align: justify;
}

.name {
    color: #ff1b45;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
    padding-right: 10%;
}

.albumes {
    font-weight: 400;
    color: white;
    text-decoration: none;
    background-image: repeating-linear-gradient(#ff1b45, #ac0011);
    padding: 10px 10px;
    border-radius: 5px;
}

.img {
    height: 50px;
    width: 50px;
}

.top-back {
    background-image: url(images/top-banner01.png);
    background-repeat: no-repeat;
}